@use "partials/layout";
@use "partials/shared";

#cities-list > li {
  margin-block: 7px;
  list-style: none;
}

h2 {
  margin-block: 20px;
}

button {
  margin-inline: 4px;
}

#change-modal {
  display: none;
  position: absolute;
  left: 20vw;
  top: 3vw;
  width: 65vw;
  height: 300px;
  background-color: rgb(242, 242, 233);
  justify-content: space-evenly;
  gap: 5px;
  border-radius: 30px;
  border: 3px solid rgb(193, 193, 178);
}

#x-mark {
  width: 30px;
  cursor: pointer;
}

#submit-change-btn {
  cursor: pointer;
  padding: 9px;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(193, 193, 178);
  color: rgb(46, 46, 40);
}
